AddOutputFilter DEFLATE html css js php

RewriteEngine on

RewriteRule ^sitemap(_(\d{4})(\d{2})(\d{2})(\d{2}))?.xml$ /sitemap.php?y=$2&m=$3&d=$4&h=$5 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?domain=$1 [L]

RewriteCond %{HTTP_HOST} ^adminunion.com [NC]
